.by-filament {
  text-align: center;

  a.primary-cta {
    margin: 0 auto 30px;
    @extend .large-cta;
    background: $purple;

    &:hover, &:active {
      background: shade($purple, 15%);
    }
  }
}