.how-filament-works {
  margin-top: 50px;
  background: #363636;
  overflow: hidden;
  height: 385px;

  h3 {
    color: #fff;
    margin: 26px 0 0;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    color: $body-text;
    margin-top: 10px;
  }
  .how-intro {
    text-align: center;
  }

  .show-how-container {
    height: 140px;
    width: 100%;
    background: #444;
    //remove when adding animation
    display: table;

    p {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      //Remove above when animation
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-small) {
  .how-filament-works {
    p {
      font-size: 24px;
      line-height: 40px;
    }

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-medium) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-large) {

}
