.how-filament-works {
  margin-top: 50px;
  padding: 30px 0 70px;
  background: #363636;
  overflow: hidden;

  h3 {
    color: #fff;
    margin: 26px 0 0;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    color: $body-text;
    margin-top: 10px;
  }
  .how-intro {
    text-align: center;
    margin: 0 0 20px;
    overflow: hidden;

    p {
      margin: 7px 0 5px;
    }
  }

  .show-how-container {
    // height: 140px;
    width: 100%;
    overflow: hidden;

    p {
      margin: 0;

    }

    .step {
      text-align: center;
      position: relative;
      // height: 165px;
      margin-bottom: 100px;

      &:last-child {
        margin-bottom: 0;

        &:after {
          content: none;
        }
      }

      &:after {
        content: " ";
        position: absolute;
        bottom: -35%;
        right: 50%;
        margin-right: -26px;
        background: transparent image_url('line-segment.png') no-repeat 0 0;
        height: 10px;
        width: 62px;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        z-index: 998;
      }
      label, p {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: $body-text;
      }

      img {
        width: 100%;
        max-width: 400px;
      }

      &.site {
        height: 100px;

        div {
          margin-top: 18px;

          input[type="text"] {
            outline: none;
            border: 0;
            background: #272727;
            border-radius: 3px;
            padding: 8px;
            text-align: center;
            color: #fff;
            width: 230px;
          }
          button {
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            padding: 7px 10px;
            background: $purple;
            border: none;
            outline: none;
            border-radius: 3px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-small) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-medium) {
  .how-filament-works {
    .show-how-container {

      .step {
        height: 165px;
        margin-bottom: 0;

        &:first-child {

          img {
            max-width: 287px;
          }
        }
        &:last-child {

          img {
            max-width: 200px;

          }

          &:after {

          }
        }

        &:after {
          right: 0;
          bottom: 50%;
          margin: 0;
          -moz-transform: none;
          -webkit-transform: none;
          transform: none;
        }

        img.pick-app {

        }
        img {

        }

        &.site {
          height: 165px;

          &:after {
            right: -16%;
          }

          div {
            margin-top: 0;

            form {
              margin-top: 24px;


              label {

              }
            }
          }
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-large) {

  .how-filament-works {

    .show-how-container {

      .step {


        &:first-child {

          img {

          }
          &:after {
            right: -5%;
          }
        }
        &:last-child {

          img {


          }

          &:after {

          }
        }

        &:after {
          right: 0;
          bottom: 50%;
          margin: 0;
          -moz-transform: none;
          -webkit-transform: none;
          transform: none;
        }

        img.pick-app {

        }
        img {

        }

        &.site {
          height: 165px;

          &:after {
            right: -10%;
          }

          div {
            margin-top: 0;

            form {
              margin-top: 24px;


              label {

              }
            }
          }
        }
      }
    }
  }

}
