.use-cases {
  background: $dark-gray;
  overflow: hidden;
  text-align: center;
  padding: 40px 0 50px;
  height: 256px;
  position: relative;

  &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      z-index: 1001;
      display: block;
      height: 64px;
      width: 100%;
      background: -moz-linear-gradient(top,  rgba(229,229,229,0) 0%, rgba(42,42,42,0.99) 76%, rgba(42,42,42,1) 77%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0)), color-stop(76%,rgba(42,42,42,0.99)), color-stop(77%,rgba(42,42,42,1)));
      background: -webkit-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(42,42,42,0.99) 76%,rgba(42,42,42,1) 77%);
      background: -o-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(42,42,42,0.99) 76%,rgba(42,42,42,1) 77%);
      background: -ms-linear-gradient(top,  rgba(229,229,229,0) 0%,rgba(42,42,42,0.99) 76%,rgba(42,42,42,1) 77%);
      background: linear-gradient(to bottom,  rgba(229,229,229,0) 0%,rgba(42,42,42,0.99) 76%,rgba(42,42,42,1) 77%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#2a2a2a',GradientType=0 );
      border-bottom: 13px solid $dark-gray;
    }

  p {
    font-size: 20px;
    margin: 0;
  }
  p span {
    color: #fff;
  }
  p strong {
    font-weight: 700;
    color: #fff;
  }
  ul {
    margin: 10px 0 0;
    padding: 0;
    position: relative;

    li {
      font-size: 16px;
      line-height: 26px;
      list-style: none;
      margin-bottom: 10px;
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s, height 0.2s ease-in-out;
      height: 0;
      overflow: hidden;
      // @include transition(opacity, 0.2s);

      &.visible {
        opacity: 1;
        visibility: visible;
        height: 26px;
      }
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-small) {

  .use-cases {
    p {
      font-size: 24px;
    }
    ul {
      margin: 10px 0 0;
      li {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-medium) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-large) {

}
