/* Clearfixin */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

@mixin primary-cta {
  background: $dark-gray;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 33px;
  border-radius: 3px;
  color: #fff;
}
@mixin secondary-cta {
  background: transparent;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 32px 6px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  color: #fff;
}