html {
  -webkit-font-smoothing: antialiased;
}
body {
  font: 400 16px/1.875 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  color: $body-text;
}

h1 {
  color: $dark-gray;
}
h2 {

}
h3 {

}
h4 {

}