.use-cases {
  background: $dark-gray;
  overflow: hidden;
  text-align: center;
  padding: 40px 0 30px;

  p {
    font-size: 24px;
    margin: 0;
  }
  ul {
    margin: 0;
    li {
      font-size: 18px;
      line-height: 30px;
    }
  }
}