<h2>Other Filament Apps</h2>
<p>And more on the way</p>
<div class="full-app-list">
  <ul>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="chartbeat" href="#">chartbeat</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="crazyegg" href="#">crazyegg</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="customer" href="#">customer</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="codedrop" href="#">codedrop</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="flare" href="#">flare</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="flipjack" href="#">flipjack</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="highlite" href="#">highlite</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="origami" href="#">origami</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="passport" href="#">passport</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="sidecar" href="#">sidecar</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="slidedeck" href="#">slidedeck</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="google-analytics" href="#">google analytics</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="ivy" href="#">ivy</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="mailchimp" href="#">mailchimp</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="mixpanel" href="#">mixpanel</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="olark" href="#">olark</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="optimizely" href="#">optimizely</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
    <li>
      <div class="app-list-item">
        <div class="app-image">
          <a class="qualaroo" href="#">qualaroo</a>
        </div>
        <div class="app-description">
          <h3>App Name</h3>
          <a href="#" class="install">Install</a>
        </div>
      </div>
    </li>
  </ul>
</div>