html {
  -webkit-font-smoothing: antialiased;
}
body {
  font: 400 16px/1.875 "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  color: $body-text;
}

h1 {
  color: $dark-gray;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #808080;
  font-weight: 300;
  text-align: center;
}
h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
h4 {
  font-weight: 700;
  color: $dark-gray;
  font-size: 18px;
  line-height: 30px;
}

a {
  text-decoration: none;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-small) {
  h2 {
    font-size: 30px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-medium) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-large) {

}